@import 'tailwindcss';

@layer utilities {
    /* ============ background ============ */
    .bg-surface {
        background-color: var(--color-surface);
    }

    .bg-surface-hover,
    .hover\:bg-surface-hover:hover {
        background-color: var(--color-surface-hover);
    }

    .bg-surface-active,
    .active\:bg-surface-active:active {
        background-color: var(--color-surface-active);
    }

    /* ============ text ============ */
    .text-primary {
        color: var(--color-text);
    }

    .text-primary-hover,
    .hover\:text-primary-hover:hover {
        color: var(--color-text-hover);
    }

    .text-primary-active,
    .active\:text-primary-active:active {
        color: var(--color-text-active);
    }

    /* ============ border ============ */
    .border-primary {
        color: var(--color-text);
    }

    .hover\:border-primary-hover:hover {
        color: var(--color-border-hover);
    }

    .active\:border-primary-active:active {
        color: var(--color-border-active);
    }
}

@layer base {
    [data-theme='light'] {
        /* ============ background ============ */
        --color-surface: var(--color-white);
        --color-surface-hover: var(--color-gray-100);
        --color-surface-active: var(--color-blue-700);

        /* ============ text ============ */
        --color-text: var(--color-gray-800);
        --color-text-hover: var(--color-red-900);
        --color-text-active: var(--color-gray-900);

        /* ============ border ============ */
        --color-border: var(--color-gray-200);
        --color-border-hover: var(--color-blue-700);
        --color-border-active: var(--color-blue-700);
    }

    [data-theme='dark'] {
        /* ============ background ============ */
        --color-surface: var(--color-gray-900);
        --color-surface-hover: var(--color-gray-800);
        --color-surface-active: var(--color-blue-700);

        /* ============ text ============ */
        --color-text: var(--color-gray-200);
        --color-text-hover: var(--color-green-900);
        --color-text-active: var(--color-white);

        /* ============ border ============ */
        --color-border: var(--color-gray-700);
        --color-border-hover: var(--color-blue-200);
        --color-border-active: var(--color-blue-200);
    }
}
